# Java and Gradle specific files
*.class
*.jar
*.war
*.ear
.gradle/
/build/
/out/
/.idea/
/*.iml
.gradle
gradle-wrapper.jar

# IntelliJ-specific files
*.ipr
*.iws
*.idea/
*.iml

# macOS specific files
.DS_Store

# Compiled Java files
*.class

# Compiled Gradle files
build/

# Gradle cache directory
.gradle/
